body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Times New Roman", serif;
}

.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 50px;
}

p {
  font-size: 18px;
  margin-bottom: 50px;
}
